@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
}


<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <h3>Learn more ablut willie by clicking below</h3>
    <a asp-page="WilliesBio">About Willie</a>

    @for (var i = 0; i < 6; i++)
    {
        <component type="typeof(Components.Counter)" render-mode="Static" param-text='"Text"' />
    }


    
</div>
